$rhap_theme-color: #868686;
$rhap_background-color: #23232d;
$rhap_bar-color: #dddddd;
$rhap_time-color: #fff;

.rhap_container {
 display: flex;
 align-items: center;
 justify-content: space-between;
 line-height: 1;
 width: 100%;
 background-color: $rhap_background-color;
 outline: none;
}

.rhap_progress-section {
 display: flex;
 align-items: center;
 width: 80%;
}

.rhap_progress-container {
 width: 100%;
 margin: 0 calc(10px + 1%);
 cursor: pointer;
 outline: none;
}

.rhap_time {
 color: $rhap_time-color;
 font-size: 10px;
}

.rhap_progress-bar {
 box-sizing: border-box;
 position: relative;
 z-index: 0;
 width: 100%;
 height: 5px;
 background-color: $rhap_bar-color;
}

.rhap_progress-bar-show-download {
 background-color: rgba($rhap_bar-color, 0.5);
}

.rhap_download-progress {
 height: 100%;
 position: absolute;
 z-index: 1;
 background-color: $rhap_bar-color;
}

.rhap_progress-indicator {
 position: absolute;
 z-index: 2;
 width: 12px;
 height: 12px;
 margin-left: -6px;
 top: -4px;
 background: #ef5466;
 border-radius: 50px;
}

.rhap_controls-section {
 width: 15%;
}

.rhap_additional-controls,
.rhap_main-controls {
 display: none;
}

.rhap_repeat-button {
 font-size: 26px;
 width: 26px;
 height: 26px;
 color: $rhap_theme-color;
 margin-right: 6px;
}

.rhap_main-controls-button {
 margin: 0 3px;
 color: $rhap_theme-color;
 font-size: 35px;
 width: 35px;
 height: 35px;
}

.rhap_play-pause-button {
 font-size: 40px;
 width: 40px;
 height: 40px;

}

.rhap_volume-controls {
 width: 100%;
}

.rhap_volume-button {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 20px;
 color: $rhap_theme-color;
 margin-right: 10px;
}

.rhap_volume-container {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.rhap_volume-bar-area {
 display: flex;
 align-items: center;
 width: 100%;
 cursor: pointer;
 outline: none;
}

.rhap_volume-bar {
 box-sizing: border-box;
 position: relative;
 width: 100%;
 height: 2px;
 background: $rhap_bar-color;
}

.rhap_volume-indicator {
 box-sizing: border-box;
 position: absolute;
 width: 10px;
 height: 10px;
 margin-left: -6px;
 left: 0;
 top: -4px;
 background: #ef5466;
 border-radius: 50px;
 cursor: pointer;

 &:hover {
  box-shadow: rgba(#ef5466, .5) 0 0 5px;
 }
}

/* Utils */
.rhap_button-clear {
 background-color: transparent;
 border: none;
 padding: 0;
 overflow: hidden;
 cursor: pointer;

 &:hover {
  opacity: .9;
  transition-duration: .2s;
 }

 &:active {
  opacity: .95;
 }

 &:focus:not(:focus-visible) {
  outline: 0;
 }
}